body{
    background-color: springgreen;
}

header{
    position: sticky;
    top: 0px;
    background-color:limegreen;
    color: antiquewhite;
}

main{
    background-color: lightslategray;
}

aside{
    top:auto;
    background-color: antiquewhite;
    padding: 10px;
    width: 120px;
    border-radius: 15px;
    margin: 10px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
}

.navheader{
    margin: 5px;
    background-color: coral;
    text-decoration: none;
    border-radius: 5px;
}

.container1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: coral;
    border-radius: 15px;
    margin: 10px;
    border: 10px;
    border-color: black;
    padding: 5px;
}

.container2{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    background-color:white;
    border-radius: 15px;
    margin: 10px;
}

.container3{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction:row;
    text-align:center;
    align-items: center;
    border-radius: 10px;
    margin: 0px;
    column-gap: 50px;
}

.div1{
    display:flex;
    text-align: center; 
    align-items:center;
    width: 450px;
    height: 350px;
    font-size:xx-large;
    color: beige;
    background-color: aqua;
    background-image: url(../img/lapacho_rosa.jpg);
    background-size:100%;
    opacity: 100%;
    border-radius: 10px;
    border-color: black;
    border-width: medium;
    border: none;
    margin: 5px;
}

.div2{
    display:flex;
    align-items: center;
    text-align:center;
    font-size:x-large;
    width: 450px;
    border-radius: 10px;
    margin: 5px;
}

.div3{
    text-align:center;
    font-size:x-small;
    margin: 2px;
    }

#grupo:hover{
color: aqua;
font-size: 30px;
}

